.btn-primary {
  background-color: #d23d3d;
  background-image: linear-gradient(#d85a5a, #d23d3d);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ba2c2c;
  background-image: linear-gradient(#d23d3d, #ba2c2c);
}

.btn-primary:active {
  background-color: #912222 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #d23d3d;
  background: #d23d3d linear-gradient(180deg, #d85a5a, #d23d3d) repeat-x;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #d23d3d;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  box-shadow: inset 0 -2px 0 #d23d3d;
}

img.logout {
  /*
    Change color to #d23d3d (https://codepen.io/sosuke/pen/Pjoqqp).
  */
  filter: invert(37%) sepia(60%) saturate(1408%) hue-rotate(329deg)
    brightness(83%) contrast(97%);
}
