{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<section class="login">
    <div class="container">
        <img class="logo" src="assets/images/logo.svg" alt="{{ title }}">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="error">Please use correct username and password</span>
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="login-actions">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Stay signed in?
                        </label>
                    </div>
                    <a href="#" class="btn btn-primary btn-lg">Sign in</a>
                </div>
            </div>
            <div class="panel-footer">Forgot your password?</div>
        </div>
    </div>
</section>

{% include "components/PreferencesChooser.html" %}

{% include "components/custom-bg-modal.html" %}

{% endblock %}
