<div class="btn-group dropup preferences-toggle">
    <button id="preferences-toggle" type="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="sr-only">Preferences</span>
    </button>
    <ul class="dropdown-menu pull-right">
        <li class="checkbox">
            <label>
                <input type="checkbox" id="prefShowParticles"> Show Particles
            </label>
        </li>
        <li role="separator" class="divider"></li>
        <li class="radio">
            <label>
                <input type="radio" name="background" id="prefBackground-default" value="default">
                Default
            </label>
        </li>
        <li class="radio">
            <label>
                <input type="radio" name="background" id="prefBackground-original" value="original">
                Original Photo
            </label>
        </li>
        <li class="radio">
            <label>
                <input type="radio" name="background" id="prefBackground-custom" value="custom">
                Custom
            </label>
        </li>
    </ul>
</div>