.logo {
  -webkit-filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #000);
}

.btn-primary {
  background-color: #f36e21;
  background-image: linear-gradient(#f69055, #f36e21);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #da570b;
  background-image: linear-gradient(#f47125, #da570b);
}

.btn-primary:active {
  background-color: #aa4409 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #f36e21;
  background: #f36e21 linear-gradient(180deg, #f69055, #f36e21) repeat-x;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #f36e21;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  box-shadow: inset 0 -2px 0 #f36e21;
}
