.logo {
  -webkit-filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #000);
}

.login-actions .btn-primary {
    background-color: #f36e21;
}

.login-actions .btn-primary:hover,
.login-actions .btn-primary:focus {
    background-color: #da570b;
}

.login-actions .btn-primary:active {
    background-color: #aa4409;
    background-image: radial-gradient(circle, #aa4409 10%, #f36e21 11%);
}

.login-actions input[type='checkbox']:focus::after,
.login-actions input[type='checkbox']:checked::after {
    border-color: #f36e21;
}

.login-actions input[type='checkbox']:checked::after {
    background-color: #f36e21;
}

.login input[type='text']:focus,
.login input[type='password']:focus {
    box-shadow: inset 0 -2px 0 #f36e21;
}
