@import 'csh-material-bootstrap';

html {
  min-height: 100%;
}

body {
  &.default {
    background: #b0197e linear-gradient(#430a30, #b0197e) no-repeat;
  }

  &.original {
    background: #b0197e url('images/original.png') no-repeat;
    background-size: cover;
  }

  &.custom {
    background: #b0197e no-repeat;
    background-size: cover;
  }
}

.login {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;

  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 500px !important;
  text-align: center;
}

.panel {
  pointer-events: auto;
}

.logo {
  margin-bottom: 30px;
  max-width: 300px;
}

.panel-body {
  padding: 40px 50px 50px;
  text-align: left;
}

.error {
  display: inline-block;
  margin-bottom: 20px;
  color: #f00;
}

.login-actions {
  .checkbox {
    float: left;
  }

  .btn {
    float: right;
  }
}

.preferences {
  &-toggle {
    position: absolute;
    right: 5px;
    bottom: 5px;
    line-height: 24px;

    & button {
      border: 0;
      box-shadow: none !important;
      background: transparent;
      color: #fff;
      font-size: 24px;
    }

    & ul {
      .dropdown-menu {
        width: 175px;
      }
    }
  }
}

.dropdown-menu {
  .checkbox,
  .radio {
    padding: 3px 20px;
  }
}
