.logo {
  filter: drop-shadow(0 0 5px #000);
}

.btn-primary {
  background-color: #36eee6;
  background-image: linear-gradient(to right, #199ed9 0, #36eee6 100%);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #36eee6;
  background-image: linear-gradient(to right, #1375a0 0, #12d3ca 100%);
}

.btn-primary:active {
  background-color: #0ea49d !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #36eee6;
  background: #36eee6 linear-gradient(180deg, #199ed9, #36eee6) repeat-x;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #199ed9;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  box-shadow: inset 0 -2px 0 #199ed9;
}
