.logo {
  -webkit-filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #000);
}

.login-actions .btn-primary {
    background: linear-gradient(to right,#199ed9 0,#36eee6 100%);
}

.login-actions .btn-primary:hover,
.login-actions .btn-primary:focus {
    background: linear-gradient(to right,#199ed9 0,#36eee6 100%);
}

.login-actions .btn-primary:active {
    background: linear-gradient(to right,#199ed9 0,#36eee6 100%);
    background-image: radial-gradient(circle, #199ed9 10%, #36eee6 11%);
}

.login-actions input[type='checkbox']:focus::after,
.login-actions input[type='checkbox']:checked::after {
    border-color: #199ed9;
}

.login-actions input[type='checkbox']:checked::after {
    background-color: #199ed9;
}

.login input[type='text']:focus,
.login input[type='password']:focus {
    box-shadow: inset 0 -2px 0 #199ed9;
}
