.btn-primary {
  background-color: #00d0ff;
  background-image: linear-gradient(#33daff, #00d0ff);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #00a7cc;
  background-image: linear-gradient(#00a7cc, #00a7cc);
}

.btn-primary:active {
  background-color: #007d99 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #00d0ff;
  background: #00d0ff linear-gradient(180deg, #33daff, #00d0ff) repeat-x;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #00d0ff;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  box-shadow: inset 0 -2px 0 #00d0ff;
}

img.logout {
  /*
    Change color to #199ed9 (https://codepen.io/sosuke/pen/Pjoqqp).
  */
  filter: invert(70%) sepia(59%) saturate(4164%) hue-rotate(151deg)
    brightness(103%) contrast(104%);
}
