.themes {
  &-trigger {
    position: absolute;
    right: 5px;
    bottom: 5px;
    line-height: 24px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  &-modal {
    @media (min-width: 992px) {
      display: flex !important;
      align-items: center;
      height: 100%;
    }

    .modal-header {
      padding-bottom: 0;
    }

    .modal-body {
      padding-top: 0;
    }

    .nav-tabs {
      border-color: #ddd;
    }

    .tab-content {
      margin-top: 20px;

      .panel-body {
        padding: 0;

        img {
          width: 100%;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
      }

      .btn-add-theme {
        margin-bottom: 20px;
      }
    }

    @media (min-width: 1100px) {
      .modal-dialog {
        width: 1000px;
      }
    }

    @media (min-width: 900px) and (max-width: 1099px) {
      .modal-dialog {
        width: 850px;
      }
    }

    @media (min-width: 768px) and (max-width: 899px) {
      .modal-dialog {
        width: 700px;
      }
    }
  }
}